
.swiper-slide-active{
  z-index: 999999;
  box-shadow: 0 4px 12px #000000c2;
  border-radius: 10px;
}
:global(.swiper-slide-active) {
  z-index: 999999;
  box-shadow: 0 4px 12px #000000c2;
  border-radius: 10px;
}

.dummy{
  
}