@import "tailwindcss";
/* globals.css */
@import "swiper/css";
@import "swiper/css/pagination";

.swiper-button-next,
.swiper-button-prev {
  background: #ff7a45;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
}

.swiper-pagination-bullet-active {
  background: #ff7a45;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.center-swiper-section .swiper-slide-active{
  z-index: 999999;
  box-shadow: 0 4px 12px #000000c2;
  border-radius: 10px;
}

.swiper-button-prev .swiper-navigation-icon{display:none;}
.swiper-button-next .swiper-navigation-icon{display:none;}

.tabing-swiper .swiper-pagination{position: relative !important; margin-top: 20px;} 
.tabing-swiper .swiper-button-next{right: -50px !important;}
.tabing-swiper .swiper-button-prev{left: -50px !important;}
.health-scans-section .swiper-button-next2{right: -50px !important;}
.health-scans-section .swiper-button-prev2{left: -50px !important;}
.orange-text {position: absolute;left: 0;right: 0; width: 130px;margin: -30px auto 10px auto;}
.image-card .custom-border{border-top-color: #F16948 !important;}